@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #999;
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1.5em;
}

ul, li {
  list-style-type: none;
  display: inline;
  padding-left: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.box-1 {
  padding: 1.5em;
}

.global {
  padding-bottom: 2em;
}

.crater-1, .crater-2 {
  padding-bottom: 2em;
}

@media only screen and (min-width: 25em) {

  .crater-1 {
    padding-right: 1em;
  }
  .crater-2 {
    padding-left: 1em;
  }
}
